.table {
    margin-top: 20px;
    overflow-y: auto;
    height: 400px;
    color: #6a5d5d;
    background-color: #ffffff;
    /* margin-bottom: 20px; */
}

.table::-webkit-scrollbar {
    display: none;
}

.table td {
    padding: 0.5rem;

}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}